.skills {
    width: 100%;

    padding: 100px 0;

    background-color: #eee;
    color: #4f4a41;

    h1 {
        font-size: 3em;
        text-align: center;
    }
}

.listOfSkills {
    width: 70%;

    margin: 0 auto;

    list-style: none;

    li {
        margin-top: 50px;

        h2 {
            font-size: 2em;
        }

        p {
            margin-top: 10px;
            margin-left: 10px;
            font-size: 1.15em;
            font-weight: 400;
        }
    }
}
