* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #0006;
    border-radius: 20px;
}